body, html{
    padding:0;
    margin:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


#can {
    background: black;
    box-sizing: border-box;
    border: 10px solid black;
    width: 100%;
    height: 100%;
}

#fullscreen_btn {
    font: 1em GameFont;
    width:20%; 
    height:20%;
    margin:40%;
}


/* custom font */
@font-face {
    font-family: 'GameFont';
    src: url('font2.ttf');
}